<head>
  <script>
    $(document).ready(function() {
      $('.icon-wrap').click(function(event) {
        event.stopPropagation();
        $(this).parent().toggleClass('active');
      });
      $(document).click(function() {
        $(this).find('.profile').removeClass('active');
      });
    });
  </script>
</head>

<header class="entire-nav-bar">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="nav-left">
      <a class="navbar-brand" href="/">R</a>
      <div id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a id="home-button" class="nav-item nav-link" href="/">Home</a>
          <a id="create-plus" class="nav-item nav-link" href="/post/create">Create <i class="fas fa-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="nav-center">
      <form id="search-form" class="search form-inline" action="/search" method="GET">
          <input id="nav-search-input" class="form-control" type="text" name="posts"
            placeholder="Search for a resource here!"/>
          <button id="search-button" type="submit" class="btn btn" style="color: whitesmoke; background-color: #6d0019;"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <% if (userLoggedIn) { %>
      <div class="nav-right">
        <div class="profile">
          <div id="profile-username-carrot" class="icon-wrap">
            <i class="fa-solid fa-user"></i>
            <span class="name">
              <%= user.handler %>
            </span>
            <i class="fa-solid fa-caret-down"></i>
          </div>
          <div class="profile_drop_down">
            <ul class="profile_ul">
              <li class="profile_li">
                <a href="/my-profile" class="menu">
                  <span>My Profile</span>
                </a>
              </li>
              <li class="profile_li">
                <a href="/my-stuff" class="menu">
                  <span>My Stuff</span>
                </a>
              </li>
              <li class="profile_li">
                <form class="menu" action="/logout" method="post">
                  <button type="submit">LOGOUT</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% } else { %>
        <div class="nav-right">
          <div id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <div class="login-register">
                <a class="nav-item nav-link" href="/login">Login</a>
                <a id="register-button" class="nav-item nav-link" href="/register">Register</a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
  </nav>
</header>
