<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="nav-left">
      <a class="navbar-brand" href="">R</a>
      <div id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a id= "home-button" class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="">About</a>
          <a class="nav-item nav-link" href="/post/create">Create <i class="fas fa-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <div id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="login-register">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
