.resource-timeline {
  margin: 3.0em;
  display: flex;
  flex-wrap: wrap;
}

.resource-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-thumbnail img {
padding: 1em;
}

