.individual-post-container {
  margin: 2.0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

//Allow for title and edit button to fall nicely in line and levelled with one another.
.title-edit-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

//Provide a bit of spacing between the edit button and title
#edit-button {
  margin-left: 1em;
}

.buttons-container {
  // Width here allows buttons container to span size of photo
  width: 30%;
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
}

#savePost-button {
  margin-bottom: 0.9em;
}

#saveFolder-button {
  margin-bottom: 0.8em;
}

.btn.btn-primary {
  margin-top: 1em;
  background-color: #222;
  border: #222;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.description-url-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.url-link {
  color: white;
}

// Spaces out post description from URL above it and provide background
.post-description {
  margin: auto;
  margin-top: 2em;
}

//Spaces out rating inputs from description and applies flex
.rating-inputs {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Space rating title from rating submission bar
.rating-title {
  padding-right: 1em;
}

//Space rate button from rating submission bar
#rate-button {
  margin-left: 1em;
  margin-bottom: 0.8em;
}

.comments-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Put comment text area on top of comment buutton
.post-comment-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

//Apply space between comment text area and post button
.comment-text {
  margin-bottom: 0.5em;
}

.comment-post-button {
  margin-bottom: 2em;
  background-color: #222;
  color: white;

}

.comments {
  border: 2px solid black;
}

.user-comments {
  margin: 1em;
  width: 45em;
  height: 50px;
  border-color: black;
}
