.individual-post-container {
  margin: 2.0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttons-container {
  // Width here allows buttons container to span size of photo
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.btn.btn-primary {
  margin-top: 1em;
  background-color: #222;
  border:#222;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.description-url-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.url-link {
  color: white;
}

// Spaces out post description from URL above it and provide background
.post-description {
  margin-top: 2em;
}

//Spaces out rating inputs from description and applies flex
.rating-inputs {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Space rating title from rating submission bar
.rating-title {
  padding-right: 1em;
}

//Space rate button from rating submission bar
#rate-button {
  margin-left: 1em;
}

//Adjust size of comments header
.comments-header {
  font-size: x-large;
}
