.body-login-register {
  width: 50%;
  background-color: #222;
  margin: 1.5em auto;
  background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.body-login-register:hover {
  box-shadow: 5px 10px #222;
}

.register-inputs {
  width: 26em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-form label {
  padding-top: 1em;
}

.registration-button {
  display: flex;
  justify-content: center;
}

.login-inputs {
  width: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form label {
  padding-top: 1em;
}
