// .myStuffHeaders {
//   width: 100%;
//   text-align: center;
// }

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myFolders {
  height: 50%;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: scroll;
}

.myPosts {
  height: 50%;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: scroll;
}

.allFolders,
.allPosts {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.eachFolder {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0 15%;
}

.eachPost {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0 15%;
}

.eachFolder i:hover {
  color: #6d0019;
}

.folderTitle {
  text-align: center;
}

.eachFolder a {
  font-size: 100px;
}

.postTitle {
  text-align: center;
}

