.navbar {
  background-color: #222;
  padding: 20px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  font-family: 'Pacifico';
  font-size: xx-large;
}

#navbarNavAltMarkup {
  display: flex;
  align-items: flex-end;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

#plus {
  margin-left: 0em;
}

.login-register {
  display:flex;
}

.navbar.navbar-expand-md.navbar-dark {
  align-items: flex-end;
}

.fas {
  color: #ea4f4c;
  margin: -2px 4px 0;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

