
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
}

.navbar {
  background-color: #222;
  padding: 20px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  //The z-index line gives the  navbar the utmost priority and prevents placeholders from appearing in nav bar for whatever reason.
  z-index: 1;
}

.navbar-brand {
  display: flex;
  font-family: "Pacifico";
  font-size: xx-large;
}

#navbarNavAltMarkup {
  display: flex;
  align-items: flex-end;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

#plus {
  margin-left: 0em;
}

.login-register {
  display: flex;
}

.navbar.navbar-expand-md.navbar-dark {
  align-items: flex-end;
}

.fas {
  color: #ea4f4c;
  margin: -2px 4px 0;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

//Starting here we will address items in middle of nav bar

//This allows for spacing between the search bar and button

.nav-center {
  width: 100%;
  max-width: 32em;
}
#nav-search-input {
  margin-right: 1em;
  width: auto;
  flex-grow: 1;
}

//Starting here we will address things on the right side of nav BAR
nav .profile {
  padding-right: 1em;
  padding-bottom: 0.6em;
  position: relative;
}

#search-form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  flex-wrap: nowrap;
}

nav .icon-wrap {
  cursor: pointer;
}

a.menu {
  width: 100%;
  text-align: center;
}

nav .profile .profile_drop_down {
  position: absolute;
  top: 55px;
  right: -5px;
  user-select: none;
  background: #222;
  border: 1px solid #6d0019;
  width: 200px;
  height: 164px;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(74, 25, 25, 0.896),
    -10px -10px 35px rgba(74, 25, 25, 0.896);
}

nav .profile .profile_drop_down:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #222 transparent;
}

.nav-right .icon-wrap:hover,
.nav-right .profile:active .icon_wrap {
  color: #6d0019;
}

nav .profile .profile_drop_down ul li {
  border-bottom: 1px solid #f1f2f4;
  list-style: none;
}

nav .profile .profile_drop_down ul li:last-child {
  border-bottom: 0px;
}

nav .profile .profile_drop_down ul li a {
  display: inline-block;
  padding: 15px 54px;
  position: relative;
}

nav .profile .profile_drop_down ul li .menu:hover {
  color: #6d0019;
  background: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: none;
}

nav .profile .profile_drop_down ul li button {
  height: 50px;
  color: #fff;
  border: none;
  text-align: center;
  background-color: #222;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav .profile .profile_drop_down ul li button:hover {
  color: #6d0019;
  cursor: pointer;
  background-color: #fff;
}

nav .profile.active .profile_drop_down {
  display: block;
}

nav .fa-user {
  padding-right: 0.5em;
}

  #create-plus {
    display: flex;
    align-items: center;
  }

  #search-button {
    width: 9%
  }

//This line prevents + on create from collapsing underneath create button when screen size shrinking
@media only screen and (max-width: 903px) {
  #create-plus {
    display: flex;
    align-items: center;
  }
}

// If screen size becomes reaches 700 pixels or smaller
@media only screen and (max-width: 767px) {
  .nav-left {
    margin-right:auto;
    padding-bottom: 0.5em;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  #home-button {
    // margin-right: 5em;
    padding-right: 1em;
    padding-left: 0.5em;
  }

  .login-register {
    padding-top: 0.5em;
  }
  #register-button {
    padding-left: 1em;

  }

  .entire-nav-bar {
    float: left;
  }

  .profile {
    padding-top: 1em;
  }
}

